@font-face {
    font-family: 'Alfa Slab One';
    src: url('AlfaSlabOne-Regular.woff2') format('woff2'),
        url('AlfaSlabOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Afta serif';
    src: url('Aftaserif.woff2') format('woff2'),
        url('Aftaserif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

