/* General setup */
@font-face {
    font-family: 'Alfa Slab One';
    src: url('AlfaSlabOne-Regular.woff2') format('woff2'),
        url('AlfaSlabOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Afta serif';
    src: url('Aftaserif.woff2') format('woff2'),
        url('Aftaserif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
  font-size: 10px;
  margin: 0;
  font-family: 'Alfa Slab One', sans-serif;
}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

p {
  font-size: 1.4rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
  font-family: 'Afta serif', serif;
}